@model DisplayedComicVM
@{
    ViewData["Title"] = "Comic of the day";
}

<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h3>@Model?.Comic?.Title</h3>
            <img alt="@Model?.Comic?.Alt" src="@Model?.Comic?.Img" /><br /><br />
            <p>@Model?.Comic?.Alt</p>
        </div>
    </div>
</div>

